#nop A tingle runs up your spine as your fae magic wastes away.
#nop You feel your fae magic slowly dissipate.
#nop Fae magic is squandered away as some seeps from your feet down to the land.
#gag {Your vision sparkles purple for a moment as you lose some fae magic.}
#gag {Fae magic is squandered away as some seeps from your feet down to the land.}
#gag {Your fingers tingle as you lose more fae magic to the land.}